{% extends 'layout.html' %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<h2>Edit Profile</h2>
<p class="msg">{{ msg }}</p>
<form action="{{ url_for('edit_profile') }}" method="post" enctype="multipart/form-data">
  {% if account.profile_pic %}
    <img src="{{ url_for('static', filename='uploads/' ~ account.profile_pic) }}" width="120"><br>
  {% endif %}
  <label>Full Name:</label><br>
  <input type="text" name="fullname" value="{{ account.fullname }}"><br>
  <label>Phone:</label><br>
  <input type="text" name="phone" value="{{ account.phone }}"><br>
  <label>Change Picture:</label><br>
  <input type="file" name="profile_pic" accept="image/*"><br><br>
  <input type="submit" value="Save">
</form>
{% endblock %}
